body {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
.frame2 {
    width: 100vw; /* 너비값 꽉 차게*/
    height: 100vh; /* 높이값 꽉 차게 */
    display: grid; /* 두방향 레이아웃(가로-세로) 시스템인 grid 적용*/
    grid-template-rows: 15% auto; /* 행의 배치 2개의 프레임의 크기 위 쪽은 20% 아래는 나머지 */
}
.High {
    background-color: white;
    border-bottom: solid black;
}
.LOW {
    background-color: beige;
}
#Homepage {
    margin-bottom: 10px;
}
