body {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
h1:hover {
    color: rgb(239, 239, 209);
}
.frame2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 290px 2fr auto; /* 열의 배치 2개의 프레임을 갖고 각각 290px를 갖는 창과 나머지 창을 채우는 창 생성 */
}
.left {
    background-color: white;
    text-align: center;
}
#line { 
    width: 1px;
    height: 180px;
    background-color: black;
    margin-right: auto;
    margin-left: 140px;
}
#line2 {
    width: 1px;
    height: 100px;
    background-color: black;
    margin-right: auto;
    margin-left: 140px;
}
#instagram {
    width: 30px;
    height: 30px;
    position: relative;
    left: 125px;
}
#instagram:hover {
    background-color: rgb(239, 239, 209);
}
.right {
    background-color: rgb(239, 239, 209);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1:1:1의 비율인 열 만들기 */
    grid-template-rows: 1fr;
}
.fallpic {
    width: 270px;
    height: 300px;
    margin: 30px;
    box-shadow: 0 0 30px gray;
    cursor: help;
    transition: all 0.5s; /* 0.5초 동안 형태의 변화 */
}
.fallpic:hover {
    transform: scale(1.2); 
    /* fallpic 박스에 마우스 올리면 박스 크기 1.2배 */
    box-shadow: 2px 2px gray,
                0 0 30px black;
}
#search1 {
    border: solid black;
    border-radius: 5px; /* 테두리 스타일 변경 */
}
