body {
    margin: 0;
}
h5 {
    color: black;
}
.frame1 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 350px 4fr 350px;
}
.left {
    background-color: white;
    text-align: center;
}
.medium {
    background-color: beige;
    background-image: url("images/대표사진.png");
}
.right{
    background-color: white;
}
