* { /*페이지 전체에 속성 값 주기 */
    list-style: none;
     /* 리스트 기본 스타일 없애기 */
}
body {
    margin: 0;
}
a {
    color: black; /* 링크 글자색 바꾸기 */
    text-decoration: none; /* 링크 아래에 있는 줄 없애기 */
}
a:hover {
    color: rgb(234, 234, 207);
}
h1:hover {
    color: rgb(234, 234, 207);
}
.frame1 {
    width: 100vw; /* 너비값 꽉 차게 */
    height: 100vh; /* 높이값 꽉 차게 */
    background-color: white;
    display: grid; /* 두방향 레이아웃(가로-세로) 속성인 grid 적용*/
    grid-template-columns: 300px 3fr 600px; /*열(가로)의 배치 3개의 프레임 300px 600px*2*/
}
.left {
    color: black;
    background-color: white;
    text-align: center; /*왼쪽 창의 글자 가운데 정렬 */
    position: fixed; /* 창 고정시킨다 위 아래 움직임 영향 없음 */
    top: 0; left: 0;
    width: 300px; 
    height: 800px;
}
#line { 
    width: 2px;
    height: 160px;
    background-color: black;
    margin-right: auto;
    margin-left: 130px;
}
nav { 
    margin: 30px;
    /* 목차에 마진 주기 */
}
nav > ul { /* nav의 자식 ul에 속성값 적용 하기*/
    width: 200px;
    height: 150px;
    margin-top: 80px;
    padding: 0;
}
ul li { /* 자손 셀렉터 */
    width: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
}
li a {
    margin-right: 80px;
}
.menu:hover {
    color: rgb(234, 234, 207);
    font-weight: bold;
}
.menu:hover .submenu{
    height: 80px;
    /* 높이 설정 후 마우스 올릴 때 서브메뉴창 보이게 하기 */
    transition: all 1s;
    /* 메뉴에 마우스 올릴 때 서브메뉴 높이 생성*/
}
.submenu {
    height: 0;
    /* ul의 높이 0으로 설정해서 서브메뉴의 높이 없애기 */
    overflow: hidden;
    /* 넘친 내용은 보이지 않게 하기 즉 서브메뉴창 숨기기 */
}
#Home {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 5px;
    padding-top: 1.5%;
    display: inline-block;
}
#Home:hover {
    background-color: beige;
    /* 마우스 올릴 때 배경색 바꾸기 */
}
#instagram {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 30px;
    margin-left: 2.5px;
    padding-top: 1.5%;
    display: inline-block;
}
#instagram:hover {
    background-color: beige;
    /* 마우스 올릴 때 배경색 바꾸기 */
}
.medium {
    background-color: beige;
}
#main {
    width: 400px;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 40px gray /* 박스에 그림자 속성 넣기 */
}
.right{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 오른쪽 창 열 두 개로 나누기 */
}
.pic {
    width: 250px;
    height: 300px;
    margin: 15px;
    box-shadow: 3px 3px beige, 
                0 0 60px rgb(250, 250, 198); /* 박스에 그림자 속성 넣기 */
                transition:  all o.5s; /* 0.5초 동안 형태의 변화 */
}
.pic:hover {
    transform: scale(1.2); /*마우스를 올릴 시 크기 1.2배 증가 */
}



