body {
    margin: 0;
}
h5 {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
.frame1 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 300px 4fr 600px;
}
* { /*페이지 전체에 속성 값 주기 */
    list-style: none;
     /* 리스트 줄 없애기 */
}
nav { 
    margin: 30px;
    /* 목차에 마진 주기 */
}
nav > ul { /* nav의 자식 ul에 적용 하기*/
    width: 200px;
    overflow: hidden; /*요소 빠져나오지 않게 하기*/
    margin: 0;
    padding: 0;
}
ul li { /* 자손 셀렉터 */
    width: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.menu:hover {
    background-color: beige;
    color: black;
}
.menu:hover .submenu{
    height: 80px;
    transition: all 1s;
    /* 메뉴에 마우스 올릴 때 서브메뉴 높이 생성*/
}
.submenu {
    height: 0;
    overflow: hidden;
    /*서브메뉴 높이를 없애서 숨겨지게 보이기*/
}
.left {
    color: black;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0; left: 0;
    width: 300px; height: 800px;
}
#line { 
    width: 1px;
    height: 160px;
    background-color: black;
    margin-right: auto;
    margin-left: 130px;
}
#Home {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 5px;
    padding-top: 1.5%;
    display: inline-block;
}
#Home:hover {
    background-color: beige;
}
#instagram {
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 30px;
    margin-left: 2.5px;
    padding-top: 1.5%;
    display: inline-block;
}
#instagram:hover {
    background-color: beige;
}
.medium {
    background-color: beige;
}
#mainpic {
    width: 400px;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
.right{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pic {
    width: 250px;
    height: 300px;
    margin: 15px;
}
